h1, h2, h5, p, a {
    color: #edddd9;
}

.navbar {
    background-color: #edddd9;
}

.navbar-brand {
    color: #3C493F;
}

.nav-link {
    color: #3C493F;
}

#continue-button {
    color: #3C493F;
    background-color: #edddd9;
}

#continue-button:hover {
    color: #edddd9;
    background-color: #9bc1bc;
}

#carouselExampleCaptions {
    margin: 50px auto 50px auto; 
    height: auto;
    width: 75%;
}

div.carousel-inner * h5 {
    color: black;
}

.table {
    margin: auto;
}

label.form-label {
    color: #edddd9;
}

textarea.form-control {
    background-color: #edddd9;
}

#feedback-form-button {
    color: #3C493F;
    background-color: #edddd9;
}

#feedback-form-button:hover {
    color: #edddd9;
    background-color: #9bc1bc;
}

iframe.giphy-embed {
    height: 360px;
}

footer {
    background-color: #edddd9;
    margin-top: 100px;
}

p > a:hover {
    color: #9bc1bc;
}

.footer-text {
    color: #3C493F;
}