/* setting text color */
h1, h2, p, hr, figcaption {
    color: #edddd9;
}

section.img-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 15px auto 50px auto;
}

table.ranking-table {
    width: 30%;
    height: 50%;
    background-color: #edddd9;
}

select {
    display: block;
    width: 100%;
}