/* setting text color */
h1, h2, p {
    color: #edddd9;
}

#carouselExampleCaptions {
    margin: 15px auto 50px auto; 
    height: auto;
    width: 60%;
}

.table {
    margin: auto;
}

.form-section {
    display: grid;
    grid-template-columns: 1fr;
}

.mb-3 {
    margin-left: auto; 
    margin-right: auto; 
}

#feedback-form-button {
    margin-left: auto; 
    margin-right: auto; 
}

.gif-section {
    display: flex;
    justify-content: center;
}